.Thinkup-installer {
  width: 100%;
  height: 100%%;
  overflow: auto;
}
.Thinkup-installer .container {
  width: 600px;
  margin: 50px auto 20px auto;
  overflow: visible;
}
.Thinkup-installer .container .progressbar-container {
  height: 40px;
  margin: 10px 0 0 0;
  height: 30px;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.Thinkup-installer .container .progressbar-container > .dark-label {
  font-size: 14px;
  top: 8px;
  left: 8px;
  text-align: left;
}
.Thinkup-installer .container .progressbar-container span,
.Thinkup-installer .container .progressbar-container .bar span {
  text-shadow: none !important;
}
.Thinkup-installer .container .progressbar-container .bar {
  background: #1AAF5D;
  border-radius: 0;
}
.Thinkup-installer .container .progressbar-container .bar > .light-label {
  font-size: 14px;
  top: 8px;
  left: 8px;
  text-align: left;
  text-decoration: none;
}
.Thinkup-installer .container .toggle-button {
  position: absolute;
  top: 253px;
  left: 703px;
  z-index: 4;
  height: 28px;
  width: 100px;
}
.Thinkup-installer .container .toggle-button > .button-title {
  font-size: 12px;
}
.Thinkup-installer .container .logo {
  width: 200px;
  left: 50%;
  position: relative;
  margin-left: -110px;
  margin-top: 20px;
}
.Thinkup-installer .container .button-container {
  text-align: center;
}
.Thinkup-installer .container .button-container .button {
  margin: 15px;
}
.Thinkup-installer .container .description {
  font-size: 16px;
  color: #333;
}
.Thinkup-installer .container .description p {
  padding: 10px 0;
}
.Thinkup-installer .container .description a {
  text-decoration: underline;
  color: black;
}
.Thinkup-installer .container .description b,
.Thinkup-installer .container .description .bold {
  text-decoration: none;
  font-weight: bold;
}
.Thinkup-installer .container .description .center {
  text-align: center;
}
.Thinkup-installer .container .description img {
  width: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.Thinkup-installer .container .running-link {
  text-align: center;
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  background: #eee;
  margin-bottom: 15px;
}
.Thinkup-installer .container .running-link a {
  text-decoration: none;
  color: blue;
  text-shadow: none;
}
.Thinkup-installer .container .picture {
  width: 800px;
}
