.new-kdmodal p {
  margin: 10px 0;
}
.new-kdmodal ol {
  list-style-type: decimal;
  padding-left: 40px;
}
.new-kdmodal ol li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.new-kdmodal .description {
  text-align: center;
  margin: 0 0 10px 0;
  color: #BB3C2A;
}
.new-kdmodal .item {
  position: relative;
  cursor: pointer;
  padding: 8px 10px 8px 25px;
  border-bottom: solid 1px #ededed;
}
.new-kdmodal .item:last-child {
  border: none;
}
.new-kdmodal .item:hover {
  color: #138345;
}
.new-kdmodal .item:hover:active {
  color: #106c3a;
}
.new-kdmodal .item .bubble {
  position: absolute;
  top: calc(50% - 2px);
  left: 8px;
  width: 8px;
  height: 8px;
  background: #1AAF5D;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease 0;
  -moz-transition: all, 0.2s, ease;
  -o-transition: all 0.2s ease 0;
  transition: all 0.2s ease 0;
}
.Thinkup-dropdown {
  position: absolute;
  top: 50px;
  left: calc(50% + 320px);
  width: initial;
  height: initial;
  overflow: visible;
}
.Thinkup-dropdown.disabled {
  opacity: 0.5;
}
.Thinkup-dropdown .header {
  color: #808080;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  border: solid 2px rgba(0, 0, 0, 0.1);
  background: #fafafa;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
.Thinkup-dropdown .selection {
  border: solid 2px rgba(0, 0, 0, 0.1);
  border-top: none;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  -webkit-transition: all 0.2s ease 0;
  -moz-transition: all, 0.2s, ease;
  -o-transition: all 0.2s ease 0;
  transition: all 0.2s ease 0;
}
.Thinkup-dropdown .selection .item {
  position: relative;
  cursor: pointer;
  padding: 8px 10px 8px 25px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.2s ease 0;
  -moz-transition: all, 0.2s, ease;
  -o-transition: all 0.2s ease 0;
  transition: all 0.2s ease 0;
}
.Thinkup-dropdown .selection .item:nth-child(odd) {
  background: #FCFCFC;
}
.Thinkup-dropdown .selection .item:last-child {
  border: none;
}
.Thinkup-dropdown .selection .item:hover {
  background: rgba(87, 161, 230, 0.1);
}
.Thinkup-dropdown .selection .item:hover:active {
  background: rgba(87, 161, 230, 0.15);
}
.Thinkup-dropdown .selection .item.running .bubble {
  background: #1AAF5D;
}
.Thinkup-dropdown .selection .item.stopped .bubble {
  background: #cccccc;
}
.Thinkup-dropdown .selection .item.active {
  background: #2C97DD;
  color: #fff;
}
.Thinkup-dropdown .selection .item.active .bubble {
  background: rgba(255, 255, 255, 0.6);
}
.Thinkup-dropdown .selection .item .bubble {
  position: absolute;
  top: calc(50% - 3px);
  left: 8px;
  width: 8px;
  height: 8px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease 0;
  -moz-transition: all, 0.2s, ease;
  -o-transition: all 0.2s ease 0;
  transition: all 0.2s ease 0;
}
.Thinkup-installer {
  position: relative;
  width: 100%;
  height: 100%%;
  overflow: auto;
}
.Thinkup-installer .wrapper {
  position: relative;
}
.Thinkup-installer .wrapper .container {
  width: 600px;
  margin: 0 auto;
  padding: 50px 0 20px 0;
  overflow: visible;
}
.Thinkup-installer .wrapper .container .progress-container {
  position: relative;
  width: 100%;
}
.Thinkup-installer .wrapper .container .progress-container .title {
  padding: 10px 10px 10px 0;
  border-bottom: solid 2px #d4d4d4;
}
.Thinkup-installer .wrapper .container .progress-container .bar {
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: #1AAF5D;
  -webkit-transition: all 0.2s ease 0;
  -moz-transition: all, 0.2s, ease;
  -o-transition: all 0.2s ease 0;
  transition: all 0.2s ease 0;
}
.Thinkup-installer .wrapper .container .progress-container .spinner {
  position: absolute;
  top: 8px;
  right: 0;
}
.Thinkup-installer .wrapper .container .toggle-button {
  position: absolute;
  top: 253px;
  left: 703px;
  z-index: 4;
  height: 28px;
  width: 100px;
}
.Thinkup-installer .wrapper .container .toggle-button > .button-title {
  font-size: 12px;
}
.Thinkup-installer .wrapper .container .logo {
  width: 200px;
  left: 50%;
  position: relative;
  margin-left: -110px;
  margin-top: 20px;
}
.Thinkup-installer .wrapper .container .button-container {
  text-align: center;
}
.Thinkup-installer .wrapper .container .button-container .button {
  margin: 15px;
  height: 45px;
}
.Thinkup-installer .wrapper .container .button-container .button span {
  line-height: normal;
}
.Thinkup-installer .wrapper .container .description {
  color: #333;
  font-size: 16px;
  line-height: 1.7em;
  color: #555;
  margin-top: 30px;
}
.Thinkup-installer .wrapper .container .description p {
  padding: 10px 0;
}
.Thinkup-installer .wrapper .container .description a {
  text-decoration: underline;
  color: black;
}
.Thinkup-installer .wrapper .container .description b,
.Thinkup-installer .wrapper .container .description .bold {
  text-decoration: none;
  font-weight: bold;
}
.Thinkup-installer .wrapper .container .description .center {
  text-align: center;
}
.Thinkup-installer .wrapper .container .description img {
  width: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.Thinkup-installer .wrapper .container .running-link {
  text-align: center;
  padding: 12px 0;
  background: #FCFCFC;
  margin-bottom: 15px;
  line-height: 22px;
  border: solid 1px #efefef;
  border-top: none;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
.Thinkup-installer .wrapper .container .running-link strong {
  font-weight: bold;
}
.Thinkup-installer .wrapper .container .running-link a {
  text-decoration: none;
  color: blue;
  text-shadow: none;
}
.Thinkup-installer .wrapper .container .picture {
  width: 800px;
}
